body {font-family:Verdana,sans-serif;
    background-color: #D3D3D3;
}

.hero-image {
  background-image: url("../media/images/moss_bridge_d1.jpg");
  width: 100%;
  height: 35%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  color: white;
  color: #F7DADA;
}

.header-image {
  width: 100%;
  height: 35%;
}

.des-text{
  color: #DE87A4;
  font-weight: bolder;
  font-size: 35px;
  text-align: center;
  
}
.des-title{
  color: #DE87A4;
  font-weight: bolder;
  font-size: 70px;
  text-align: center;
  
}
.para_box_pos{
  float: left;
  position: relative;
  left: 5%;
  margin-left: 15px;
  margin-top: 40px;
  margin-bottom: 40px;
  padding-left: 20px;
  border-color: #383838; 
  border-radius: 8px;
  border-width: 4px;
  border-style: solid;
  text-align: center; 
  max-width: 600px;
  width: 40%;
  height: 292px;
  background-color: white;
}
.c-button: {
  color: #DE87A4
}
.c-button:hover{color:#000;background-color:#ccc}
