<!DOCTYPE html>
<html>
<head>
	<title>About Page</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="../css/about.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
</head>
<body>
	<div class="hero-image">
	  <div class="hero-text">
	    <h1 style="font-size:50px">Map of the Trip</h1> 
	  </div>
	</div>
	<div class="para_box_pos">
			<p>Trail: 25 Miles, 5 Days, 4 Nights </p>
	</div>
	<img class="map_pos" src="../media/images/rialto_beach_map.jpg">
</body>
</html>