<!DOCTYPE html>
<html>
<head>
	<title>Day One</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="../css/day_1.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">

</style>
</head>
<body>
<!-- Header -->
	<!-- <div class="c-content c-daytitle" style="max-width:1400px">
		<header class="c-container c-center  c-banner-size"> 
 		 <h1 class="title-text">Day One</h1>
 		 <p class="des-text">An Optimistic Start</p>
		</header><!-- Header
	</div> -->
	<div class="hero-image">
	  <div class="hero-text">
	    <h1 style="font-size:50px">Day One</h1>
	    <p class="des-text">An Optimistic Start</p>
	    
	  </div>
	</div>
	<div class="div-pos">
		<div class="page_pic_pos">
			<img src="../media/images/shanen_bag.jpg" alt="Picture of a hiker's Large" class="page_pic_size">
		</div>
		<div class="para_box_pos ">
			<p>On the left is the me posing to illustrate the monstrosity of my bag holding a walking stick that I happily happened upon.</p>
			<p>On the right is my Friend demonstrating the size of his bag(s). Unfortunately, this scheme caused him to fall over so he had to transfer the 2nd bag to his front.</p>
		</div>
		<div class="page_pic_pos">
			<img src="../media/images/thomas_bag.jpg" alt="Picture of a hiker with an even larger bag that sags off his back" class="page_pic_size">
		</div>
	</div>
	<div class="div-pos">
		<div class="page_pic_pos">
			<img src="../media/images/dayone_trail.jpg" alt="Image of a dirt trail through dense woods" class="page_pic_size">
		</div>
		<div class="para_box_pos c-left-align">
			<p>These are a couple images of the trail.</p>
			<p>(Most of the trail was on the beach)</p>
		</div>
		<div class="page_pic_pos">
			<img src="../media/images/foggy_beach.jpg" alt="Image of heavy fog laid over a rocky beach" class="page_pic_size">
		</div>
	</div>
	<div class="hero-image">
	  <div class="hero-text">
	    <h1 style="font-size:50px">Day Two</h1>
	    <p class="des-text">The Journey Continues</p>
	    
	  </div>
	</div>
	<div class="div-pos">
		<div class="page_pic_pos">
			<img src="../media/images/foggy_island.jpg" alt="picture of an island in the distance surrounded by slightly less fog" class="page_pic_size">
		</div>
		<div class="para_box_pos c-left-align">
			<p>On the left is the view we woke up to on the first morning. On the right is one of the trail markers. It was a very large stump covered in old, detoriorating buoys.</p>
		</div>
		<div class="page_pic_pos">
			<img src="../media/images/buoy_stump.jpg" alt="picture of roots of large tree stump, covered in a number of old buoys" class="page_pic_size">
		</div>
	</div>
	<div class="div-pos">
		<div class="page_pic_pos">
			<img src="../media/images/rope_hill.jpg" alt="Image of a rope going up a steep hill" class="page_pic_size">
		</div>
		<div class="para_box_pos c-left-align">
			<p>This hill was much steeper than it looks in this photo.</p>
		</div>
		<div class="page_pic_pos">
			<img src="../media/images/shanen_rope_trail.jpg" alt="Image of hiker climbing up steep hill using rope" class="page_pic_size">
		</div>
	</div>
	<div class="hero-image">
	  <div class="hero-text">
	    <h1 style="font-size:50px">Day Three</h1>
	    <p class="des-text">Rocky and Beautiful</p>
	    
	  </div>
	</div>
	<div class="div-pos">
		<div class="page_pic_pos">
			<img src="../media/images/red_creek.jpg" alt="image a red creek with large driftwood log running across" class="page_pic_size">
		</div>
		<div class="para_box_pos c-left-align">
			<p>This creek was beautiful. It was also fun walking across the very large driftwood.</p>
		</div>
		<div class="page_pic_pos">
			<img src="../media/images/driftwood.jpg" alt="image of a long beach with a lot of driftwood" class="page_pic_size">
		</div>
	</div>
	<div class="div-pos">
		<div class="page_pic_pos">
			<img src="../media/images/duo_pic.jpg" alt="image of two hikers standing and smiling side by side in front of a rocky coast" class="page_pic_size">
		</div>
		<div class="para_box_pos c-left-align">
			<p>On the right is the most beautiful scene I have ever witnessed and picture I have taken. On the right are two exhausted college students.</p>
		</div>
		<div class="page_pic_pos">
			<img src="../media/images/best_sunset.jpg" alt="image of sun setting between two peaks on distant island" class="page_pic_size">
		</div>
	</div>


